<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="sqlconex" connectionString="Server=tcp:negociofarmacia.database.windows.net,1433;Initial Catalog=farmacia;Persist Security Info=False;User ID=administrador;Password=Farmacia1;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>
  </connectionStrings>
</configuration>